.accordion-header{
    background-color: #e1e1e1;
    display: flex;
}
.accordion-content{
    height: 60px;
    background-color: #fff;
    padding: 10px;
}
.accordion-icon{
    margin-top: 13px;
    margin-right: 15px;
    font-size: 30px;
}
.title{
    margin-bottom: 20px;
}
.bracket{
    border: 1px solid #000;
}